# C++ objects and libs
*.slo
*.qm
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dylib
core

#vscode
.vscode


# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
#*build-*
# Qt unit tests
target_wrapper.*
# QtCreator
*.autosave
# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
# QtCtreator CMake
CMakeLists.txt.user*
*.debhelper.log
build/

debian/*
!debian/source/
!debian/*.install
!debian/*.dirs
!debian/control
!debian/changelog
!debian/compat
!debian/copyright
!debian/docs
!debian/*.init
!debian/default
!debian/rules
!debian/*.postinst
!debian/*.postrm
!debian/*.preinst
!debian/*.prerm

*.prof
*.dbr
gmon.out
*.log

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.idea
*_automoc.cpp
.DS_Store
.cquery_cached_index/
valgrind.*
.#*
*.o

*.mak
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
.vs/
*.dir/
*.log
tmp/
